@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /*검*/
  --background-start-rgb: 214, 219, 220; /*회*/
  --background-end-rgb: 255, 255, 255; /*흰*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: ChosunNm, NotoSansKR, JeonjuCraftGoR, BookkMyungjo;
  box-sizing: border-box;
}

@font-face {
  font-family: "ChosunNm";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/ChosunNm.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/NotoSansKR-Regular.ttf") format("ttf");

  font-display: swap;
}

@font-face {
  font-family: "JeonjuCraftGoR";
  src: url("/fonts/JeonjuCraftGoR.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BookkMyungjo";
  src: url("/fonts/BookkMyungjo-Lt.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
